<h2 mat-dialog-title class="title"><span class="cross"><mat-icon (click)="onNoClick()">close</mat-icon></span></h2>
<div mat-dialog-content>
    <div class = "dialog-container">
        <img src="/assets/img/dialog.jpg" alt="" class = "dialog-image">
        <p class = "project-id">{{curProject.projectId}}<mat-icon class = "active-button" [ngClass]="curProject.active == true ? 'green' : 'red'">circle</mat-icon></p>
        <p class = "project-label">{{curProject.projectLabel}}</p>
        <!-- <p class = "project-label">{{curProject.active}}</p> -->
        <p class = "project-description">{{curProject.projectDescription}}</p>
    </div>

</div>