div{
    background-color: #E5E4E2;
    width:32.5%;
    height: 100%;
    display: inline-block;
    text-align: center;
    margin :10px 5px auto 5px;
    padding-bottom: 15px;
    padding-top: 10px;
}
/* header{
    text-align: center;
    padding: 30px;
    background-color: #E5E4E2;
    font-family: Serif;
} */

.create-button{
    float: right;
    margin : 5px;
    /* margin-top : ; */
    /* margin-bottom: 20px; */
}

header{
    padding: 30px;
    background-color: #E5E4E2;
    font-family: Serif;
}
nav{
    padding-left: 10px;
}
ul{
    position: absolute;
    left: 220px;
    font-size: medium;
    font-size:1.3vw;
    font-weight: 600;
}