<header><nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p  class="display-6"> Dashboard</p>
        <ul class="navbar-nav">
          <li >
            <a class="nav-link" href="#">Home</a>
          </li>
          <li >
            <button mat-raised-button class = "create-button" mat-button color="primary" (click) = "onCreateProject()" >Project</button>
          </li>
          <li >
            <button mat-raised-button class = "create-button" mat-button color="primary" (click) = "onCreateJira()" >Create Jira</button>
            <!-- <a class="nav-link" href="#">Create</a> -->
          </li>
          <li >
            <button mat-raised-button class = "create-button" mat-button color="primary" (click) = "onCreateSprint()" >Create Sprint</button>
            <!-- <a class="nav-link" href="#">Create</a> -->
          </li>
        </ul>
    </nav></header>
<div *ngFor="let x of phase">
    <!-- for printing different phases -->
    <h4>{{x}}</h4>
    <span *ngFor="let epic of epics"> <app-epicjira [epic]="epic" [x]="x"></app-epicjira> </span>
    
</div>