<h2 mat-dialog-title class="title">Jira Info<span class="cross"><mat-icon (click)="onNoClick()">close</mat-icon></span></h2>
<div mat-dialog-content>
<form [formGroup] = "editJiraService.editJiraForm" class = "create-jira-form" (ngSubmit) = "editJira()">
<div class = "form-container">
  <mat-label>{{project.projectLabel}}</mat-label>
    <hr>
      <p>
        <mat-label>{{epic.jiraType}}</mat-label>
      </p>
      <hr>
    <p>
        <mat-form-field class="form-full-width">
          <mat-label>Title</mat-label>
          <input formControlName = "jiraTitle" matInput placeholder="{{epic.jiraTitle}}" value="{{epic.jiraTitle}}" >
          <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
    </p>
    <p>
      <mat-form-field class="form-full-width">
        <mat-label>Description</mat-label>
        <textarea formControlName = "jiraDescription" matInput></textarea>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName = "jiraStatus">
          <mat-option value="To Do"><mat-icon>checklist</mat-icon>To Do</mat-option>
          <mat-option value="In Progress"><mat-icon>trending_up</mat-icon>In Progress</mat-option>
          <mat-option value="Done"><mat-icon>verified</mat-icon>Done</mat-option>
        </mat-select>
        <mat-error>This field is mandatory</mat-error>
      </mat-form-field>
    </p>
    <hr>
    <p><mat-label>Assignee {{employee.alias}}</mat-label></p>
    <hr>
    <p>
        <mat-form-field class="form-full-width">
          <mat-label>Reporter</mat-label>
          <input formControlName = "jiraReporter" matInput>
          <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
    </p>
</div>
<div class = "dialog-buttons-div">
<button class = "dialog-button" mat-raised-button color = "warn" (click) = "onClear()">Clear</button>
<button mat-button color= "primary" class = "dialog-button" type = "submit">Create</button>
</div>
</form>
</div>








