.form-full-width {
    width: 75%;
  }
  
  .form-container{
    width: 90%;
    padding: 5%;
  }
  
  .dialog-button{
    float: right;
    margin : 5px;

  } 
  
  .cross{
    margin-top: 20px;
    float: right;
    margin-right: 3%;
  }
  
  .action{
    margin-top: 20px;
    margin-right: 10px;
    float:right;
  }

  .title{
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .create-jira{
    height: 80%;
    width: 75%;
    left: 20%;
    top: 0%;
  }

  .rule{
    width : 50%
  }

  .label{
    font-weight: bolder;
  }

  .assignee{
    font-weight: bolder;
  }

  .dialog-buttons-div{
    position: absolute;
    top: 88%;
    left: 65%;
  }
.container::-webkit-scrollbar { 
  display: none;  
  }
