<h2 mat-dialog-title class="title">Create Jira<span class="cross"><mat-icon (click)="onNoClick()">close</mat-icon></span></h2>
<div mat-dialog-content>
<form [formGroup] = "createJiraFormService.createJiraForm" class = "create-jira-form" (ngSubmit) = "saveJira()">
<div class = "form-container">

  <mat-label>{{project.projectLabel}}</mat-label>
    <!-- <p>
        <mat-form-field class="form-full-width">
          <mat-label>Project Name</mat-label>
          <input type="text" value="hello" formControlName = "projectName" matInput>
          <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
    </p> -->

    <hr>

    <!-- <p>
        <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select formControlName = "jiraStatus">
            <mat-option value="To Do"><mat-icon>checklist</mat-icon>To Do</mat-option>
            <mat-option value="In Progress"><mat-icon>trending_up</mat-icon>In Progress</mat-option>
            <mat-option value="Done"><mat-icon>verified</mat-icon>Done</mat-option>
          </mat-select>
          <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
      </p> -->

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Type</mat-label>
          <mat-select formControlName = "jiraType">
            <mat-option value="Epic"><mat-icon>bolt</mat-icon>Epic</mat-option>
            <mat-option value="Task"><mat-icon>check</mat-icon>Task</mat-option>
          </mat-select>
          <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
      </p>
    
      <hr>

    <p>
        <mat-form-field class="form-full-width">
          <mat-label>Title</mat-label>
          <input formControlName = "jiraTitle" matInput> 
          <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
    </p>
    

    <p>
      <mat-form-field class="form-full-width">
        <mat-label>Description</mat-label>
        <textarea formControlName = "jiraDescription" matInput></textarea>
      </mat-form-field>
    </p>

    <hr>
    <p><mat-label>Assignee {{employee.alias}}</mat-label></p>
    <hr>
    <!-- <p>
        <mat-form-field appearance="fill">
          <mat-label>Assignee</mat-label>
          <mat-select formControlName = "jiraAssignee">
            <mat-option *ngFor="let employee of assignEmployee" [value]="employee">
              {{employee}}
            </mat-option>
            <mat-option value="option1">Emp1</mat-option>
            <mat-option value="option2">Emp2</mat-option>
          </mat-select>
          <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
      </p> -->
    <p>
        <mat-form-field class="form-full-width">
          <mat-label>Reporter</mat-label>
          <input formControlName = "jiraReporter" matInput> 
          <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field class="form-full-width">
          <mat-label>Linked Issue</mat-label>
          <mat-select formControlName = "jiraLinkedIssue">
          <mat-option *ngFor="let epic of epics " [value]="epic">
            {{epic.jiraTitle}}
          </mat-option>
          <mat-option>None</mat-option>
        </mat-select>
      <mat-error>This field is mandatory</mat-error>
    </mat-form-field>
    </p>

 

</div>
<div class = "dialog-buttons-div">
<button class = "dialog-button" mat-raised-button color = "warn" (click) = "onClear()">Clear</button>
<button mat-button color= "primary" class = "dialog-button" type = "submit">Create</button>
</div>
</form>
</div>

<!-- <mat-dialog-actions class = "action"> -->
  <!-- <button class = "dialog-button" mat-raised-button color = "warn" (click) = "onClear()">Clear</button>
  <button mat-button color= "primary" class = "dialog-button" type = "submit" mat-raised-button [disabled] = "createProjectFormService.createProjectForm.invalid">Create</button> -->
<!-- </mat-dialog-actions> -->