<header>
    <div class="hamburger" (click)="openNav()">&#9776;</div>
    <div id="mySidenav" class="sidenav">
      <a class="closebtn" (click)="closeNav()">&times;</a>
      <a>Chose Sprint</a>
      <li ngbDropdown  class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><mat-icon class="iconPeople">account_box</mat-icon>People</a>
        <span ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <button (click)="getJiraOfEmployee()" *ngFor="let employee of employees" ngbDropdownItem class="dropdown-item">
            {{employee.alias}}
          </button>
        </span>
      </li>
    </div>
      <nav class="navbar navbar-expand-lg ">
        <!-- <p  class="display-6"> Dashboard</p> -->
            <ul class="navbar-nav">
              <li >
                <a class="nav-link" href="#">Home</a>
              </li>
              <li >
                <a class="nav-link" href="#">Project</a>
              </li>
              <li >
                <a class="nav-link" href="#">Create</a>
              </li>
            </ul>
        </nav>
  </header>
<div *ngFor="let x of phase">
    <h4>{{x}}</h4>
    <span *ngFor="let task of tasks"><app-taskjira [task]="task" [x]="x"></app-taskjira> </span> 
</div>