div{
    background-color: #E5E4E2;
    width:32.5%;
    height: 100%;
    display: inline-block;
    text-align: center;
    margin :10px 5px auto 5px;
    padding-bottom: 15px;
    padding-top: 10px;
}
header{
    padding: 30px;
    background-color: #E5E4E2;
    font-family: Serif;
}