div{
    background-color: #E5E4E2;
    width:32.5%;
    height: 100%;
    display: inline-block;
    text-align: center;
    margin :10px 5px auto 5px;
    padding-bottom: 15px;
    padding-top: 10px;
    border-radius: 3%;
}
p{
  font-weight: 400;
}
header{
    padding: 30px;
    background-color: #E5E4E2;
}
nav{
    padding-left: 10px;
    left: 25px;
}
ul{
    position: absolute;
    left: 10px;
    font-size: medium;
    font-size:1.3vw;
    font-weight: 500;
}
/* navbar css  */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    margin-top: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
  }
  .sidenav a {
    padding: 16px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .project_details{
    color: #818181;
    display: block;
    transition: 0.3s;
    font-weight: 500;
  }
  .sidenav a:hover {
    color: #F1F1F1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .hamburger{
    cursor:pointer;
    padding: 10px;
    font-size: medium;
    font-size: 2vw;
    height: 10px;
    width: 10px;
    position:absolute;
  top:0px;
    left:4px;
  }
.dropdown-menu{
  padding-left: 40px;
}
.iconPeople{
  position: absolute;
  top:35px;
  left: 60px;;
}
.iconAddPeople{
  position: absolute;
  left: 45px;
  top: 250px;
}