.form-full-width {
    width: 60%;
  }

  .form-container{
    width: 90%;
    padding: 5%;
  }
  .dialog-button{
    /* float: right; */
    margin  : 2px;
  } 

  .cross{
    margin-top: 20px;
    float: right;
  }

  .action{
    margin-top: 20px;
    margin-right: 10px;
    float:right;
  }