<!-- print task details  -->
<mat-grid-list cols="1" rowHeight="100px" style="background-color: white;" *ngIf="task.jiraStatus == x" >
  <mat-grid-tile>
      <div>
        <div class="circle text-uppercase">{{task.jiraAssignee.charAt(0)}}</div>
        <div class="assignee">{{task.jiraReporter}}</div>
        <p class="epicid">{{task.jiraDescription}}</p>
        <div class="epiclabel" >{{task.jiraTitle}}
        <mat-icon class="icon">check_circle</mat-icon>
        </div>
        <!-- <div class="prio" [style.background]="changePriorityColor(task.jiraPriority)"></div> -->
        <div class="desc">{{task.jiraType}}</div>
      </div>
</mat-grid-tile>
</mat-grid-list>
