.prio{
    width: 10px;
    height:10px;
    position: absolute;
    top:21px;
    left:10px;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background: #79c6ec;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    position: absolute;
    top:20px;
    right:10px;
}
mat-icon{
    font-size: small;
}
mat-grid-list{
    margin:4px 4px 8px 10px;
    background-size: cover;
    border-radius: 10px;
    width: 95%;   
}
.container{
    position: absolute;
    bottom: 97px;
}
mat-grid-tile{
    padding:0 8px 16px 8px;
    width:100%;
}

.icon{
    position: relative;
    top:15px;
}
.epicid{
    position: absolute;
    top: 18px;
    left : 30px;
}
.epiclabel{
    position: absolute;
    top:28px;
    left: 11px;
    font-weight: 400;
    display: inline-block;
}
.desc{
    position: absolute;
    top: 58px;
    left:10px;
    font-weight: 200;
    margin-right: 70px;
    text-align: justify;
}
.assignee{
    position: absolute;
    top:70px;
    right: 10px;;
}